html, body{
    min-height: 100%;
}

body{
    background: #93A9FF;
    text-align: center;
    padding: 0;
    font-size: 1vw;
}

.navbar{
    padding: 0rem .3rem;
}

.col{
    padding: 2% 2% 1% 2%;
    margin-top: 3%;
    margin-left: 2%;
}

.col img{
    width: 50%;
}

.base-img img{
    width: 100%;
}

.fixed-bottom{
    color: #CCD4FB;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: block;
}

.search-flights {   
    border: 1px solid black;
    margin-left: 0%;
}

.search-trains {   
    border: 1px solid black;
}

.search-hotels {   
    border: 1px solid black;
}


.radio1{
    margin: 0 20px;
}

.radio1 .btn{
    margin: 20px 10px 20px 0;
    box-shadow: none;
}

.radio1 .btn::after{
    content: '';
    height: 15px;
    width: 15px;
    top: -2px;
    left: -1px;
    background-color: white;
    position: relative;
    display: inline-block;
    border: 3px solid black;
}

.radio1 .btn:checked::after{
    content: '';
    background-color: #000;
    transition: 0.5s;
}

.radio1 span{
    color: #000;
    margin-right: 5px;
    font-size: 12px;
}

.booking-form{
    padding: 0 20px 20px;
}

.booking-form label{
    margin-bottom: 5px;
    margin-top: 10px;
    font-size: 12px;
    color: #000;
}

.booking-form .a, .booking-form .b{
    width: 300px;
} 

.input-grp{
    width: 229px;
    display: inline-block;
    margin-left: 0%
    
}

.form-control{
    /* font-size: 12px; */
    /* border-radius: 0; */
    background: transparent;
}

.ax{
    width: 458.5px;
    text-align: center;
    display: inline-block;
}

.input-grp button{
    width:229px;
}