body{
    background: #93A9FF;
    text-align: center;
    padding: 0;
}

.col-sm-6{
    padding: 2% 1% 1% 3%;
}

.col-xs-4 img{
    width: 50%;
}

.fixed-bottom{
    font-size: 30px;
    color: #CCD4FB;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: block;
}
