{% extends 'index.html' %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/booking.css') }}">
{% endblock %}
{% block data %}
<body>
<!-- booking charges 4% for bon-voyage -->
    <div class="container-fluid">
        <div class="row align-items-center justify-space-around">
            <div class = "col-6">
                <h1>Summary</h1>
                <div class="container">
                    <table class = "table table-hover panel-group" id = "accordion">
                        <thead>
                            <th>Details</th>
                            <th>Price</th>
                        </thead>
                        <tbody>
                            {% for fl in flights %}
                            {% set id = 'flt' ~ fl['fltno'] %}
                            {% set id2 = '#' ~ 'flt' ~ fl['fltno'] %}
                            <div class="panel panel-default">
                                <tr>
                                    <td><a data-toggle="collapse" data-parent="#accordion" href= {{ id2 }}> {{ fl['fltno'] }} {{ fl['src'] }} - {{ fl['des'] }}</a></td>
                                    <td>Rs. {{ fl['totalPrice'] }}</td>
                                </tr>
                                <tbody id = {{ id }} class="table panel-collapse collapse">
                                    <tr>
                                        <td>Base Fare - Rs. {{ fl['baseFare'] }} * {{ fl['pax'] }}</td>
                                        <td>Rs. {{ fl['totalBaseCost'] }}</td>
                                    </tr>
                                    <tr>
                                        <td>Taxes</td>
                                        <td>Rs. {{ fl['tax'] }}</td>
                                    </tr>
                                    <tr>
                                        <td>Booking Charges</td>
                                        <td>Rs. {{ fl['bookingCharge'] }}</td>
                                    </tr>
                                </tbody>
                            </div>
                            {% endfor %}
                            {% for tr in trains %}
                            {% set id = 'trn' ~ tr['trn_no'] %}
                            {% set id2 = '#' ~ 'trn' ~ tr['trn_no'] %}
                            <div class="panel panel-default">
                                <tr>
                                    <td><a data-toggle="collapse" data-parent="#accordion" href= {{ id2 }}> {{ tr['trn_no'] }} {{ tr['source'] }} - {{ tr['destination'] }}</a></td>
                                    <td>Rs. {{ tr['totalPrice'] }}</td>
                                </tr>
                                <tbody id = {{ id }} class="table panel-collapse collapse">
                                    <tr>
                                        <td>Base Fare - Rs. {{ tr['baseFare'] }} * {{ tr['pax'] }}</td>
                                        <td>Rs. {{ tr['totalBaseCost'] }}</td>
                                    </tr>
                                    <tr>
                                        <td>Taxes</td>
                                        <td>Rs. {{ tr['tax'] }}</td>
                                    </tr>
                                    <tr>
                                        <td>Booking Charges</td>
                                        <td>Rs. {{ tr['bookingCharge'] }}</td>
                                    </tr>
                                </tbody>
                            </div>
                            {% endfor %}
                            {% for ht in hotels %}
                            {% set id = 'hotel' ~ ht['id'] %}
                            {% set id2 = '#' ~ 'hotel' ~ ht['id'] %}
                            <div class="panel panel-default">
                                <tr>
                                    <td><a data-toggle="collapse" data-parent="#accordion" href= {{ id2 }}>{{ ht['name'][4:] }}</a></td>
                                    <td>Rs. {{ ht['totalPrice'] }}</td>
                                </tr>
                                <tbody id = {{ id }} class="table panel-collapse collapse">
                                    {% for i in ht['roomCount'] %}
                                    <tr>
                                        <td>Room for {{ ht['roomConf'][i] }} - Rs. {{ ht['priceConf'][i] }} x {{ ht['days'] }} nights</td>
                                        <td>Rs. {{ ht['finalPriceConf'][i] }}</td>
                                    </tr>
                                    {% endfor %}
                                    <tr>
                                        <td>Taxes</td>
                                        <td>Rs. {{ ht['tax'] }}</td>
                                    </tr>
                                    <tr>
                                        <td>Booking Charges</td>
                                        <td>Rs. {{ ht['bookingCharge'] }}</td>
                                    </tr>
                                </tbody>
                                <tbody>
                                    <tr>
                                        <td><b>Total</b></td>
                                        <td><b>Rs. xxx</b></td>
                                    </tr>
                                </tbody>
                            </div>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-6">
                <div class="card-wrapper"></div>
                <div class="form-container active">
                    <form action="/pay" method ="POST">
                        <input placeholder="Card number" type="tel" name="number">
                        <input placeholder="Full name" type="text" name="name">
                        <input placeholder="MM/YY" type="tel" name="expiry">
                        <input placeholder="CVV" type="number" name="cvv">
                        <h4><b>Amount: &#8377;{{ totalCost }}</b></h4>
                        <button type="submit" class="btn btn-success" name="button">Pay now</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/card.js') }}"></script>
    <script>
        new Card({
            form: document.querySelector('form'),
            container: '.card-wrapper'
        });
    </script>
</body>
{% endblock %}
