{% extends 'index.html' %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/booking.css') }}">
{% endblock %}
{% block data %}
<body>
<!-- booking charges 4% for bon-voyage -->
    <div class="container-fluid">
        <div class="row align-items-center justify-space-around">
            <div class = "col-6">
                <h1>Summary</h1>
                <div class="container">
                    <table class = "table table-hover panel-group" id = "accordion">
                        <thead>
                            <th>Details</th>
                            <th>Price</th>
                        </thead>
                        <tbody>
                            <div class="panel panel-default">
                                <tr>
                                    <td><a data-toggle="collapse" data-parent="#accordion" href="#collapse1">BOM - DEL</a></td>
                                    <td>Rs. 4761</td>
                                </tr>
                                <tbody id = "collapse1" class="table panel-collapse collapse">
                                    <tr>
                                        <td>Base Fare</td>
                                        <td>Rs. 4087</td>
                                    </tr>
                                    <tr>
                                        <td>Taxes</td>
                                        <td>Rs. 490.44</td>
                                    </tr>
                                    <tr>
                                        <td>Booking Charges</td>
                                        <td>Rs. 183.10</td>
                                    </tr>
                                </tbody>
                            </div>
                            <div class="panel panel-default">
                                <tr>
                                    <td><a data-toggle="collapse" data-parent="#accordion" href="#collapse2">DEL - BOM</a></td>
                                    <td>Rs. 6413</td>
                                </tr>
                                <tbody id = "collapse2" class="table panel-collapse collapse">
                                    <tr>
                                        <td>Base Fare</td>
                                        <td>Rs. 5505</td>
                                    </tr>
                                    <tr>
                                        <td>Taxes</td>
                                        <td>Rs. 660.60</td>
                                    </tr>
                                    <tr>
                                        <td>Booking Charges</td>
                                        <td>Rs. 246.62</td>
                                    </tr>
                                </tbody>
                            </div>
                            <div class="panel panel-default">
                                <tr>
                                    <td><a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Hotel</a></td>
                                    <td>Rs. 3085</td>
                                </tr>
                                <tbody id = "collapse3" class="table panel-collapse collapse">
                                    <tr>
                                        <td>Rs. 1324 x 2 nights</td>
                                        <td>Rs. 2648</td>
                                    </tr>
                                    <tr>
                                        <td>Taxes</td>
                                        <td>Rs. 317.76</td>
                                    </tr>
                                    <tr>
                                        <td>Booking Charges</td>
                                        <td>Rs. 118.63</td>
                                    </tr>
                                </tbody>
                                <tbody>
                                    <tr>
                                        <td><b>Total</b></td>
                                        <td><b>Rs. 14259</b></td>
                                    </tr>
                                </tbody>
                            </div>
                        </tbody>
                    </table>
<!--                 <table class = "table table-hover">
                        <thead>
                            <th>Details</th>
                            <th>Price</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>BOM - DEL</td>
                                <td>Rs. 4000</td>
                            </tr>
                            <tr>
                                <td>Base Fare</td>
                                <td>Rs. 3500</td>
                            </tr>
                            <tr>
                                <td>Taxes</td>
                                <td>Rs. 500</td>
                            </tr>
                            <tr>
                                <td>DEL - BOM</td>
                                <td>Rs. 3000</td>
                            </tr>
                            <tr>
                                <td>Base Fare</td>
                                <td>Rs. 2650</td>
                            </tr>
                            <tr>
                                <td>Taxes</td>
                                <td>Rs. 350</td>
                            </tr>
                            <tr>
                                <td>Hotel</td>
                                <td>Rs. 4000</td>
                            </tr>
                            <tr>
                                <td>Rs. 1600 x 2 nights</td>
                                <td>Rs. 3200</td>
                            </tr>
                            <tr>
                                <td>Taxes</td>
                                <td>Rs. 800</td>
                            </tr>
                            <tr>
                                <td><b>Total</b></td>
                                <td><b>Rs. 11000</b></td>
                            </tr>
                        </tbody>
                    </table> -->
                </div>
            </div>
            <div class="col-6">
                <div class="card-wrapper"></div>
                <div class="form-container active">
                    <form action="">
                        <input placeholder="Card number" type="tel" name="number">
                        <input placeholder="Full name" type="text" name="name">
                        <input placeholder="MM/YY" type="tel" name="expiry">
                        <input placeholder="CVC" type="number" name="cvc">
                        <h4><b>Amount: &#8377;14259</b></h4>
                        <button type="button" class="btn btn-success" name="button">Pay now</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/card.js') }}"></script>
    <script>
        new Card({
            form: document.querySelector('form'),
            container: '.card-wrapper'
        });
    </script>
</body>
{% endblock %}
