{% extends 'index.html' %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/flights.css') }}">
{% endblock %}
{% block data %}
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-2">
                Jet Airways <br> 9W 512
            </div>
            <div class="col-5">
                <div class="container-fluid">
                    <div class="row align-items-center justify-content-center inner-card">
                        <div class="col-3">
                            DEL <br>18:10
                        </div>
                        <div class="col-5">
                            01:55 hr <hr>
                        </div>
                        <div class="col-3">
                            BOM <br>20:05
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-2 align-self-center">
                &#8377;2012
            </div>
            <div class="col-3 align-self-center">
                <button class="btn btn-primary">Book now</button>
            </div>
        </div>
    </div>
{% endblock %}
