    {% extends 'index.html' %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/flights.css') }}">
<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>

{% endblock %}
{% block data %}
    <!-- <div class="radio1">
                    <input type="radio" class="btn" name="check" value="round" id="r">Round Trip
                    <input type="radio" class="btn" name="check" value="one" id="o" checked>One Way Trip
                </div>
                <div class="booking-form">
                    <div class="input-grp">
                        <label>From</label>
                        <input type="text" class="form-control" placeholder="City" required>
                    </div>
                    <div class="input-grp">
                        <label>To</label>
                        <input type="text" class="form-control" placeholder="City" required>
                    </div>
                    
                    <div class="input-grp">
                        <label>Departure</label>
                        <input type="date" class="form-control select-date" required>
                    </div>
                    <div class="input-grp">
                        <label>Return</label>
                        <input type="date" class="form-control select-date">
                    </div>
                    <div class="input-grp">
                        <label>Passengers</label>
                        <input type="number" class="form-control" value="1">
                    </div>
                    <div class="input-grp">
                        <label>Class</label>
                        <select class="form-control" name="class">
                            <option value="economy">Economy Class</option>
                            <option value="business">Business Class</option>
                            <option value="first_class">First Class</option>
                        </select>
                    </div>
                    <div class="input-grp">
                        <button class="form-control flight" style="background: #9cf7d6" type="button">Show Flights</button>
                    </div>
                </div> -->
                <!-- <hr> -->
     <!-- <div class="row">            -->
    <!-- <div class="a" style="height: 10%">
        <h2>Filters</h2>
        <hr>
        <h3>Price based</h3>
        <br>
        <div align="center" class="row v booking-form">
            <div align="center" class="input-grp">
            <label>Min. Price</label>
            <br>
            <input class="form-control" type="text" name="minprice">
            </div>
            <div class="input-grp">
            <label>Max. Price</label>
            <br>
            <input class="form-control" type="text" name="maxprice">
            </div>
        </div>
        <br>
        <br>
        <div class="hr1"></div>
        <br>
        <h3>Duration based</h3>
        <br>
        <div align="center" class="row v booking-form">
            <div align="center" class="input-grp">
            <label>Min. Duration</label>
            <br>
            <input class="form-control" type="text" name="minprice">
            </div>
            <div class="input-grp">
            <label>Max. Duration</label>
            <br>
            <input class="form-control" type="text" name="maxprice">
            </div>
        </div>
    </div> -->
    <!-- <div class="vl"></div> -->
    <div class="col-sm-9 trip one" style="margin-left: 11.5%">
        {% set days = ["M","T","W","T","F","S","S"] %}
        {% for fl in flights %}
        <div class="container-fluid">
            <div class="row align-items-center a">
                    <div class="col-2">
                        {% set flt = ''+fl['airline']+'.png' %}
                        <img src="{{ url_for('static', filename='images/airline/'+flt) }}" width="100" height="100"><br><font style="color: blue">{{ fl['airline'] }}</font> <br> {{ fl['fltno'] }}<br>
                        <!-- {% for d in fl['dep_days'] %}
                        <b>{{ days[d] }}</b>
                        {% endfor %} -->
                        {% for i in range(7) %}
                        {% if i in fl['dep_days'] %}
                        <b>{{ days[i] }}</b>
                        {% else %}
                        {{ days[i] }}
                        {% endif %}
                        {% endfor %}

                        <!-- Jet Airways <br> 9W 512 -->
                    </div>
                    <div class="col-5">
                        <div class="container-fluid">
                            <div class="row align-items-center justify-content-center inner-card a">
                                <div class="col-3">
                                    <font style="color: red">{{ fl['src'] }}</font> <br><font style="color: green">{{ fl['dep'] }}</font>
                                    <!-- DEL <br>18:10 -->
                                </div>
                                <div class="col-5">
                                    {{ fl['duration'] }} hr <hr>
                                    <!-- 01:55 hr <hr> -->
                                </div>
                                <div class="col-3">
                                    <font style="color: red">{{ fl['des'] }}</font> <br><font style="color: green">{{ fl['arr'] }}</font>
                                    <!-- BOM <br>20:05 -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3 align-self-center">
                        <!-- &#8377;2012 -->
                        &#8377;{{ fl['fare'][clas] }}
                    </div> 
                    <div class="col-2 align-self-center but">
                        <button class="btn btn-primary" style="background: orange">Book Now</button>
                    </div>

                </div>
        </div>
        {% endfor %}
    </div>

    <!-- <div class="col-sm-9 trip round">
        <div class="row">
            <div class="col-sm-6">
                <div class="container-fluid">
            <div class="row align-items-center a">
                    <div class="col-2">
                        Jet Airways <br> 9W 512
                    </div>
                    <div class="col-5">
                        <div class="container-fluid">
                            <div class="row align-items-center justify-content-center inner-card a">
                                <div class="col-3">
                                    DEL <br>18:10
                                </div>
                                <div class="col-5">
                                    01:55 hr <hr>
                                </div>
                                <div class="col-3">
                                    BOM <br>20:05
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-2 align-self-center">
                        &#8377;2012
                    </div>
                    <div class="col-3 align-self-center">
                        <button class="btn btn-primary">Book now</button>
                    </div>
            </div>
        </div>
    </div> 
            <div class="col-sm-6">
                <div class="container-fluid">
            <div class="row align-items-center a">
                    <div class="col-2">
                        Jet Airways <br> 9W 313
                    </div>
                    <div class="col-5">
                        <div class="container-fluid">
                            <div class="row align-items-center justify-content-center inner-card a">
                                <div class="col-3">
                                    BOM <br>18:10
                                </div>
                                <div class="col-5">
                                    01:55 hr <hr>
                                </div>
                                <div class="col-3">
                                    DEL <br>20:05
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-2 align-self-center">
                        &#8377;2012
                    </div>
                    <div class="col-3 align-self-center">
                        <button class="btn btn-primary">Book now</button>
                    </div>

            </div>
        </div>
    </div>
    </div>
</div> -->
<!-- </div> -->
{% endblock %}
