    {% extends 'index.html' %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/hotels.css') }}">
<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="{{ url_for('static', filename='js/hotel.js') }}"></script>
{% endblock %}
{% block data %}
    <div class="col-sm-11" id="one" style="margin-left: 5%">
        {% for ht in hotels %}
        <div class="container-fluid">
            <div class="row a">
                    <div class="col-3">
                        <img src="{{ url_for('static', filename='images/vv.jpg') }}" height="200" width="350">
                    </div>
                    <div class="col-5">
                        <div align="margin-left">
                            <!-- <div class="row inner-card"> -->
                                    <font color="blue" size="6px">{{ ht['name'][4:] }} </font><font color="#FFD700"><i class="fa fa-star" aria-hidden="true"></i>{{ ht['ratingValue'] }}</font><br><br>Location: {{ ht['address'] }}<br><br>
                                    {% for a in ht['amenities'] %}
                                    {{ a }}
                                    {% endfor %}
                            <!-- </div> -->
                        </div>
                    </div>
                    <div class="col-2 align-self-center">
                        <b><font color="red" size="8px">{{ ht['price'] }}</font></b>
                        {% if 'old' in ht %}
                        <s> {{ ht['old'] }} </s>
                        {% endif %}
                        <br>
                    </div>
                    <!-- rating -->
                    <!-- Rating: {{ ht['ratingValue'] }} -->
                    <!-- {% if 'description' in ht %}{{ ht['description'] }}{% endif %} -->
                    <!-- <ul>
                    {% for pol in ht['policies'] %}
                    <li>{{ pol }}</li>
                    {% endfor %}
                    </ul>
 -->                    <div class="col-2 align-self-center but">
                        <button class="btn btn-primary">Book now</button>
                    </div>
                    <div class = "table table-hover panel-group" id = "accordion">
                        <!-- <thead>
                            <i class="fa fa-angle-down" aria-hidden="true"></i>View Details
                        </thead> -->
                        <!-- <tbody> -->
                            <div class="panel panel-default">
                                <!-- <tr> -->
                                    <br>
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1"><i class="fa fa-angle-down" aria-hidden="true"></i>View Details</a>
                                <!-- </tr> -->
                                <div id = "collapse1" class="table panel-collapse collapse">
                                    {% if 'description' in ht %}<b>Description: </b> {{ ht['description'] }}
                                    <br>{% endif %}
                                    <br>
                                    <b>Hotel Policies: </b>
                                    <ul>
                                    {% for pol in ht['policies'] %}
                                    <li>{{ pol }}</li>
                                    {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        <!-- </tbody> -->
                    </div>
                    <!-- <button type="button" class="collapsible"><i class="fa fa-angle-down" aria-hidden="true"></i>View Details</button> -->
                    <!-- <a data-toggle="collapse" data-parent="#accordion" href="#collapse1"><i class="fa fa-angle-down" aria-hidden="true"></i>View Details</a> -->
                    <!-- <tbody id = "collapse1" class="table panel-collapse collapse">
                                    <tr>
                                        <td>Base Fare</td>
                                        <td>Rs. 3500</td>
                                    </tr>
                                    <tr>
                                        <td>Taxes</td>
                                        <td>Rs. 500</td>
                                    </tr>
                                </tbody>
                    <div class="content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div> -->
                </div>
        </div> 
        {% endfor %}
    </div>
{% endblock %}
