<!DOCTYPE html>
<html>
<head>
	<title>Bon Voyage</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
	{% block stylesheets %}
	{% endblock %}
</head>
<body>
	<!-- {% if s %}
		<div class="alert alert-success">
			{{s}}
		</div>
	{% endif %} -->
	<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
		<a class="navbar-brand" href="/">Bon Voyage</a>
		<div class="collapse navbar-collapse" id="navbarText">
		    <ul class="navbar-nav mr-auto">
		     	<li class="nav-item">
		        	<!-- <a class="nav-link" href="/flights">Flights</a> -->
				<span class="nav-link" id = "show-flt-srch"><i class="fa fa-plane" aria-hidden="true"></i> Flights</span>
				</li>
		      	<li class="nav-item">
					<!-- <a class="nav-link" href="/trains">Trains</a> -->
					<span class="nav-link" id = "show-trn-srch"><i class="fa fa-train" aria-hidden="true"></i> Trains</span>
		      	</li>
		      	<li class="nav-item">
					<!-- <a class="nav-link" href="/hotels" id = "show-htl-srch">Hotels</a> -->
					<span class="nav-link" id = "show-htl-srch"><i class="fa fa-home" aria-hidden="true"></i> Hotels</span>
		      	</li>
		    </ul>
			{% if login == false %}
			<span class="navbar-text">
				<ul class="navbar-nav mr-auto">
			      	<li class="nav-item">
			        	<a class="nav-link" href="/login"><i class="fa fa-sign-in" aria-hidden="true"></i> Login</a>
			      	</li>
			      	<!-- <li class="nav-item">
			        	<a class="nav-link" href="/signup">Sign Up</a>
			      	</li> -->
				</ul>
			</span>
			{% else %}
			<span class="navbar-text">
					<ul class="navbar-nav mr-auto">
						  <li class="nav-item">
							<a class="nav-link" href="/logout"><i class="fa fa-sign-in" aria-hidden="true"></i> Logout</a>
						  </li>
					</ul>
				</span>
			{% endif %}
		  </div>
	</nav>
	{% if s %}
		<div class="alert alert-success">
			{{s}}
		</div>
	{% endif %}
	{% block data %}
	<div class="container-fluid">
		<div class="row align-items-center">
			<div class = "col-sm-6 search-flights">
				<form action="/flights-display" method = "POST">
				<div class="radio1">
					<input type="radio" class="btn" name="type" value = "round" id="r"><span>Round Trip</span>
					<input type="radio" class="btn" name="type" value = "one" id="o" checked="checked"><span>One Way Trip</span>
				</div>
				<div class="booking-form">
					<label>From</label>
					<br>
					<input type="text" class="ax form-control" placeholder="City" size="458px" name="src" required>
					<br>
					<label>To</label>
					<br>
					<input type="text" class="ax form-control" placeholder="City" size="458px" name="des" required>
					<br>
					<!-- <div class="q"> -->
					<div class="input-grp" >
						<label>Departure</label>
						<input type="date" class="form-control select-date" name="dep_date">
					</div>
					<div class="input-grp q">
						<label>Return</label>
						<input type="date" class="form-control select-date" name="ret_date">
					</div>
					<br>
					<!-- </div> -->
					<!-- <div class="w">
						<label>Departure</label>
						<br>
						<input type="date" class="ax form-control" size="458px" name="dep_date"> -->
						<!-- <input type="date" class="form-control select-date" name="dep_date" required> -->
					<!-- </div> -->
					<!-- <label>Passengers</label>
					<br>
					<input type="number" class="ax form-control" value="1"> -->
					<!-- <div class="input-grp">
						<label>Adults(18+)</label>
						<input type="number" class="form-control" value="1" name="adults">
					</div>
					<div class="input-grp">
						<label>Children(0-17)</label>
						<input type="number" class="form-control" value="0" name="kids">
					</div>
					<br> -->
					<label>Passengers</label>
					<br>
					<input type="number" class="ax form-control" placeholder="Passengers" size="458px" name="adults" value="1" required>
					<br>
					<div class="input-grp">
						<label>Class</label>
						<select class="form-control" name="class">
							<option value="economy" selected>Economy Class</option>
							<option value="business">Business Class</option>
							<option value="first_class">First Class</option>
						</select>
					</div>
					<div class="input-grp">
						<button class="form-control flight" type="submit">Show Flights</button>
					</div>
				</form>
				</div>
			</div>
			<div class = "col-sm-6 search-trains">
				<form action="/trains-display" method = "POST">
				<div class="radio1">
					<input type="radio" class="btn" name="type" value = "round" id="ro"><span>Round Trip</span>
					<input type="radio" class="btn" name="type" value = "one" id="on" checked="checked"><span>One Way Trip</span>
				</div>
				<div class="booking-form">
					<label>From</label>
					<br>
					<input type="text" class="ax form-control" placeholder="City" size="458px" name="src" required>
					<br>
					<label>To</label>
					<br>
					<input type="text" class="ax form-control" placeholder="City" size="458px" name="des" required>
					<br>
					<!-- <div class="input-grp">
						<label>Departure</label>
						<input type="date" class="form-control select-date" name="dep_date" required>
					</div>
					<div class="input-grp">
						<label>Return</label>
						<input type="date" class="form-control select-date" name="ret_date">
					</div> -->
					<!-- <div class="q1">
					<div class="input-grp">
						<label>Departure</label>
						<input type="date" class="form-control select-date" name="dep_date" required>
					</div>
					<div class="input-grp">
						<label>Return</label>
						<input type="date" class="form-control select-date" name="ret_date">
					</div>
					</div>
					<div class="w1">
						<label>Departure</label>
						<br>
						<input type="date" class="ax form-control" size="458px" name="dep_date" required>
					</div> -->

					<div class="input-grp" >
						<label>Departure</label>
						<input type="date" class="form-control select-date" name="dep_date">
					</div>
					<div class="input-grp q1">
						<label>Return</label>
						<input type="date" class="form-control select-date" name="ret_date">
					</div>
					<br>
					<div class="input-grp">
						<label>Adults(18+)</label>
						<input type="number" class="form-control" value="1" name="adults">
					</div>
					<div class="input-grp">
						<label>Children(0-17)</label>
						<input type="number" class="form-control" value="0" name="kids">
					</div>
					<br>
					<div class="input-grp">
						<label>Class</label>
						<select class="form-control" name="class">
							<option value="3A" selected>AC 3-Tier</option>
							<option value="2A">AC 2-Tier</option>
							<option value="1A">AC First Class</option>
							<option value="SL">Sleeper Class</option>
							<option value="CC">AC Chair Car</option>
							<option value="2S">Second Seater</option>
						</select>
					</div>
					<div class="input-grp">
						<button class="form-control train" type="submit">Show Trains</button>
					</div>
				</div>
				</form>
			</div>
			<div class = "col-sm-6 search-hotels">
				<form action="/hotels-display" method="POST">
					<div class="booking-form">
						<label>City</label>
						<br>
						<input type="text" class="ax form-control" placeholder="City" size="458px" name="city" required>
						<br>
						<div class="input-grp">
							<label>Check In</label>
							<input type="date" class="form-control select-date" name="checkin" required>
						</div>
						<div class="input-grp">
							<label>Check Out</label>
							<input type="date" class="form-control select-date" name="checkout" required>
						</div>
						<br>
						<div class="input-grp">
							<label>Adults(18+)</label>
							<input type="number" class="form-control" name="room1" value="1">
						</div>
						<div class="input-grp">
							<label>Children(0-17)</label>
							<input type="number" class="form-control" name="room2" value="0">
						</div>
						<br>
						<!-- <div class="input-grp">
							<label>Class</label>
							<select class="form-control" name=>
								<option value="1">AC Room</option>
								<option value="2">Non-AC Room</option>
								<option value="3">Deluxe Room</option>
							</select>
						</div> -->
						<br>
						<div class="input-grp">
							<button class="form-control hotel" type="submit">Show Hotels</button>
						</div>
					</div>
				</form>
			</div>
			<div class="col-sm-6 why-choose-us" id="mydiv">
				<h2>Simply the Best</h2>
				<h3>Why choose us?</h3>
				<br>
				<div class="container-fluid">
					<div class="row justify-content-around">
						<div class="col">
							<img src="{{ url_for('static', filename='images/time.png') }}">
							<p>No need to surf multiple sites for travel plans</p>
						</div>
						<div class="col">
							<img src="{{ url_for('static', filename='images/money.png') }}">
							<p>Best price and value for money</p>
						</div>
						<div class="col">
							<img src="{{ url_for('static', filename='images/hotel.png') }}">
							<p>Finest handpicked hotels</p>
						</div>
					</div>
				</div>
				<div class="container">
					<div class="row">
						<div class="col">
							<img src="{{ url_for('static', filename='images/tailor-made.png') }}">
							<p>Experienced travel experts</p>
						</div>
						<div class="col">
							<img src="{{ url_for('static', filename='images/customer-service.png') }}">
							<p>24/7 Customer service</p>
						</div>
						<div class="col">
							<img src="{{ url_for('static', filename='images/wisdom.png') }}">
							<p>We have wisdom that only comes through experience</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-6 base-img">
				<img src="{{ url_for('static', filename='images/base-img.jpg') }}" alt="">
			</div>
		</div>
	</div>
	{% endblock %}
	<nav class="navbar navbar-dark bg-dark navbar-expand-lg fixed-bottom">
		<a class="navbar-brand" href="#">&#169; Bon Voyage 2019</a>
	</nav>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>
</html>
