    {% extends 'index.html' %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/trains.css') }}">
<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>

{% endblock %}
{% block data %}
    <div class="radio1">
                    <input type="radio" class="btn" name="check" value="round" checked>Round Trip
                    <input type="radio" class="btn" name="check" value="one">One Way Trip
                </div>
                <div class="booking-form">
                    <div class="input-grp">
                        <label>From</label>
                        <input type="text" class="form-control" placeholder="City">
                    </div>
                    <div class="input-grp">
                        <label>To</label>
                        <input type="text" class="form-control" placeholder="City">
                    </div>
                    <!-- <label>From</label> -->
                    <!-- <br> -->
                    <!-- <input type="text" class="ax form-control" placeholder="City" size="458px">
                    
                    <label>To</label> -->
                    <!-- <br> -->
                    <!-- <input type="text" class="ax form-control" placeholder="City" size="458px"> -->
                    
                    <div class="input-grp">
                        <label>Departure</label>
                        <input type="date" class="form-control select-date">
                    </div>
                    <div class="input-grp">
                        <label>Return</label>
                        <input type="date" class="form-control select-date">
                    </div>
                    <div class="input-grp">
                        <label>Adults(18+)</label>
                        <input type="number" class="form-control" value="1">
                    </div>
                    <div class="input-grp">
                        <label>Children(0-17)</label>
                        <input type="number" class="form-control" value="1">
                    </div>
                    <!-- <label>Passengers</label> -->
                    <!-- <br> -->
                    <!-- <input type="number" class="ax form-control" value="1"> -->
                    <!-- <div class="input-grp">
                        <label>Children(0-17)</label>
                        <input type="number" class="form-control" value="0">
                    </div> -->
                    
                    <div class="input-grp">
                        <label>Class</label>
                        <select class="form-control ab">
                            <option value="1">AC 3-Tier</option>
                            <option value="2">First Class</option>
                            <option value="3">AC Chair Car</option>
                            <option value="4">Sleeper</option>
                        </select>
                    </div>
                    <div class="input-grp">
                        <button class="form-control flight" type="button">Show Trains</button>
                    </div>
                </div>
                <hr>
     <div class="row">           
    <div class="col-sm-2">
        <h2>Filters</h2>
    </div>
    <div class="vl"></div>
    <div class="col-sm-9" id="one">
        <div class="container-fluid">
            <div class="row align-items-center a">
                    <div class="col-3">
                        HOWRAH MAIL <br> 12840
                    </div>
                    <div class="col-5">
                        <div class="container-fluid">
                            <div class="row align-items-center justify-content-center inner-card a">
                                <div class="col-3">
                                    MAS <br>23:45
                                </div>
                                <div class="col-5">
                                    28:15 hr <hr>
                                </div>
                                <div class="col-3">
                                    HWH <br>04:00
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-2 align-self-center">
                        &#8377;1670
                    </div>
                    <div class="col-2 align-self-center but">
                        <button class="btn btn-primary">Book now</button>
                    </div>

                </div>
        </div>  
    </div>
     <!-- <div class="col-sm-9" id="round">
        <div class="row">
            <div class="col-sm-6">
                <div class="container-fluid">
            <div class="row align-items-center a">
                    <div class="col-2">
                        HOWRAH MAIL <br> 12840
                    </div>
                    <div class="col-5">
                        <div class="container-fluid">
                            <div class="row align-items-center justify-content-center inner-card a">
                                <div class="col-3">
                                    MAS <br>23:45
                                </div>
                                <div class="col-5">
                                    28:15 hr <hr>
                                </div>
                                <div class="col-3">
                                    HWH <br>04:00
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-2 align-self-center">
                        &#8377;1670
                    </div>
                    <div class="col-3 align-self-center">
                        <button class="btn btn-primary but">Book now</button>
                    </div>
            </div>
        </div>
    </div> 
            <div class="col-sm-6">
                <div class="container-fluid">
            <div class="row align-items-center a">
                    <div class="col-2">
                        HOWRAH MAIL <br> 12841
                    </div>
                    <div class="col-5">
                        <div class="container-fluid">
                            <div class="row align-items-center justify-content-center inner-card a">
                                <div class="col-3">
                                    HWH <br>23:45
                                </div>
                                <div class="col-5">
                                    28:15 hr <hr>
                                </div>
                                <div class="col-3">
                                    MAS <br>04:00
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-2 align-self-center">
                        &#8377;1670
                    </div>
                    <div class="col-3 align-self-center">
                        <button class="btn btn-primary">Book now</button>
                    </div>

            </div>
        </div>
    </div>
    </div>
</div>  -->
{% endblock %}
