    {% extends 'index.html' %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/trains.css') }}">
<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

{% endblock %}
{% block data %}
    <!-- <div class="radio1">
                    <input type="radio" class="btn" name="check" value="round" checked>Round Trip
                    <input type="radio" class="btn" name="check" value="one">One Way Trip
                </div>
                <div class="booking-form">
                    <div class="input-grp">
                        <label>From</label>
                        <input type="text" class="form-control" placeholder="City" name="from" id="from" required>
                    </div>
                    <div class="input-grp">
                        <label>To</label>
                        <input type="text" class="form-control" placeholder="City" name="to" id="to" required>
                    </div>                    
                    <div class="input-grp">
                        <label>Departure</label>
                        <input type="date" class="form-control select-date" required>
                    </div>
                    <div class="input-grp">
                        <label>Return</label>
                        <input type="date" class="form-control select-date">
                    </div>
                    <div class="input-grp">
                        <label>Adults(18+)</label>
                        <input type="number" class="form-control" value="1">
                    </div>
                    <div class="input-grp">
                        <label>Children(0-17)</label>
                        <input type="number" class="form-control" value="1">
                    </div> -->                    
                    <!-- <div class="input-grp">
                        <label>Class</label>
                        <select class="form-control ab">
                            <option value="1">AC 3-Tier</option>
                            <option value="2">First Class</option>
                            <option value="3">AC Chair Car</option>
                            <option value="4">Sleeper</option>
                        </select>
                    </div>
                    <div class="input-grp">
                        <button class="form-control flight" type="button">Show Trains</button>
                    </div>
                </div>
                <hr> -->
     <!-- <div class="row">           
    <div class="col-sm-2 a" style="height: 50%">
        <h2>Filters</h2>
        <hr>
        <h3>Price based</h3>
        <br>
        <div align="center" class="row v booking-form">
            <div align="center" class="input-grp">
            <label>Min. Price</label>
            <br>
            <input class="form-control" type="text" name="minprice">
            </div>
            <div class="input-grp">
            <label>Max. Price</label>
            <br>
            <input class="form-control" type="text" name="maxprice">
            </div>
        </div>
        <br>
        <br>
        <div class="hr1"></div>
        <br>
        <h3>Duration based</h3>
        <br>
        <div align="center" class="row v booking-form">
            <div align="center" class="input-grp">
            <label>Min. Duration</label>
            <br>
            <input class="form-control" type="text" name="minprice">
            </div>
            <div class="input-grp">
            <label>Max. Duration</label>
            <br>
            <input class="form-control" type="text" name="maxprice">
            </div>
        </div>
    </div>
    <div class="vl"></div>-->
    <!-- <div class="a" style="margin :0%; background: #2276E3">
    <h1>Filters</h1>
   <div class="input-grp but">
        <button class="btn btn-primary" style="background: #a2d0fa">Sort By Price</button>
   </div>
   <div class="input-grp but">
        <button class="btn btn-primary" style="background: #a2d0fa">Sort By Duration</button>
   </div>
   <div class="input-grp but">
        <button class="btn btn-primary" style="background: #a2d0fa">Sort By Arrival</button>
   </div>
   <div class="input-grp but">
        <button class="btn btn-primary" style="background: #a2d0fa">Sort By Departure</button>
   </div>
   </div> -->
   <div class="a" style="margin :0%; background: #2276E3">
        <h1>Sort by</h1>
        <!-- <br> -->
       <div class="input-grp but">
            <button class="btn btn-primary" style="background: #a2d0fa" onclick="window.location.href = '/tr-sort/price/norm'">Price - Low to High</button>
       </div>
       <div class="input-grp but">
            <button class="btn btn-primary" style="background: #a2d0fa" onclick="window.location.href = '/tr-sort/price/rev'">Price - High to Low</button>
       </div>
       <div class="input-grp but">
            <button class="btn btn-primary" style="background: #a2d0fa" onclick="window.location.href = '/tr-sort/duration/norm'">Duration - Low to High</button>
       </div>
       <div class="input-grp but">
            <button class="btn btn-primary" style="background: #a2d0fa" onclick="window.location.href = '/tr-sort/duration/rev'">Duration - High to Low</button>
       </div>
        </div>
    <div class="col-sm-9" style="margin-left: 11.5%">
        {% for train in trains %}
        <div class="container-fluid">
            <div class="row align-items-center a">
                    <div class="col-3">
                        {% set trno = '' + train['trn_no'] + '' %}
                        <i class="fa fa-train" aria-hidden="true"></i> <font style="color: blue">{{ train['trn_name'] }}</font> <br> {{ train['trn_no'] }}
                    </div>
                    <div class="col-5">
                        <div class="container-fluid">
                            <div class="row align-items-center justify-content-center inner-card a">
                                <div class="col-3">
                                    <font style="color: red">{{ train['source'] }}</font> <br><font style="color: green">{{ train['departure time'] }}</font>
                                </div>
                                <div class="col-5">
                                    {{ train['duration'] }} <hr>
                                </div>
                                <div class="col-3">
                                    <font style="color: red">{{ train['destination'] }}</font> <br><font style="color: green">{{ train['arrival time'] }}</font>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-2 align-self-center">
                        {{ train['fares'][clas] }}
                    </div>
                    <div class="col-2 align-self-center but">
                        <button class="btn btn-primary" style="background: orange" onclick="window.location.href = '/add-train/{{ trno }}'">Book now</button>
                    </div>

                </div>
        </div>
        {% endfor %}
    </div>
     <!-- <div class="col-sm-9" id="round">
        <div class="row">
            <div class="col-sm-6">
                <div class="container-fluid">
            <div class="row align-items-center a">
                    <div class="col-2">
                        HOWRAH MAIL <br> 12840
                    </div>
                    <div class="col-5">
                        <div class="container-fluid">
                            <div class="row align-items-center justify-content-center inner-card a">
                                <div class="col-3">
                                    MAS <br>23:45
                                </div>
                                <div class="col-5">
                                    28:15 hr <hr>
                                </div>
                                <div class="col-3">
                                    HWH <br>04:00
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-2 align-self-center">
                        &#8377;1670
                    </div>
                    <div class="col-3 align-self-center">
                        <button class="btn btn-primary but">Book now</button>
                    </div>
            </div>
        </div>
    </div> 
            <div class="col-sm-6">
                <div class="container-fluid">
            <div class="row align-items-center a">
                    <div class="col-2">
                        HOWRAH MAIL <br> 12841
                    </div>
                    <div class="col-5">
                        <div class="container-fluid">
                            <div class="row align-items-center justify-content-center inner-card a">
                                <div class="col-3">
                                    HWH <br>23:45
                                </div>
                                <div class="col-5">
                                    28:15 hr <hr>
                                </div>
                                <div class="col-3">
                                    MAS <br>04:00
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-2 align-self-center">
                        &#8377;1670
                    </div>
                    <div class="col-3 align-self-center">
                        <button class="btn btn-primary">Book now</button>
                    </div>

            </div>
        </div>
    </div>
    </div>
</div>  -->
{% endblock %}
<script>
$(document).ready(function(){
    $('#from').keyup(function(){
        $('#result').html('');
        var searchfield = $('#from').val();
        var exp = new RegExp(searchfield, "i");
        $.getJSON("{{ url_for('static', filename='trains.json') }}",function(trains){
            $.each(trains, function(key, value){
                if(value.name.search(exp)!=-1 || value.code.search(exp)!=-1)
                {
                    $('#result').append('<li class="list-group-item">'+value.name+','+value.code+'</li>');
                }

            });
        });
    });
});
</script>